			Which action do you wish to perform?<br />
			<select onchange="showUser(this.value)">
			<!--	<option value="newuser">Add a new user</option> -->
				<option value="list">View the post list</option>
				<option value="newpost">Create a new post</option>
			</select>
