<form action="newuser" method="POST">
	<fieldset style="border-style:none; padding-left:40%;">
		<label for="username">Username</label><br /> <input class="username" name="username" type="text" value="Username" onClick="this.value=''" /><br />
		<label for="password">Password</label><br /> <input class="password" name="password" type="password" /><br />
		<input type="submit" value="Go" /><br />
(More options to come soon, promise!)
	</fieldset>
</form>